// Colors
$text-color: #7b838a;
$faded-color: #aaaaaa;
$primary-color: #304FFE;
$danger-color: #D94238;
$warning-color: #f4c20d;
$success-color: #1E9A57;
$contentBackground-color: #f8f8f8;
$border-color: #aaaaaa;

$light-color: #FFFFFF;
$dark-color: #263238;
$icons-color: #979797;
$background-grey: #FAFAFA;;
