<div class="wrapper">
  <article class="head">
    <h1 class="name">
      {{ node.name || 'Unknown' }}
    </h1>
    <div class="toolbar">
      <app-status [loading]="node.loading" [online]="node.online"></app-status>
      <!-- <button class="expander" [ngClass]="{ expanded: expanded }" (click)="handleToogleExpand(node)"></button> -->
      <span style="margin-left: 1rem;" (click)="handleToogleExpand(node)"><i [ngClass]="expanded ? 'fas fa-chevron-down' : 'fas fa-chevron-up'"></i></span>
    </div>
  </article>
  <div class="body">
    <span class="url">
      {{ node.url }}
    </span>
  </div>

  <div *ngIf="expanded">
    <div class="blocks-wrapper" *ngFor="let block of node.blocks">
      <div class="block-id">
        <span>{{ block.id }}</span>
      </div>
      <div class="block-text">
        <span>{{ block.attributes.data }}</span>
      </div>
    </div>
  </div>

</div>
