@import "../../assets/stylesheets/base/colors";

.wrapper{
  margin: 12px 0;
  padding: 14px 20px 14px 20px;
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(84, 110, 122, 0.24);
}

.head{
  display: flex;
  justify-content: space-between;
}

.body{
  display: flex;
  justify-content: space-between;
}

.name{
  margin: 0px !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: $dark-color;
}

.url{
  color: $dark-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  opacity: 0.54;
}

.toolbar{
  display: flex;
  justify-content: right;
}

.expander{
  margin-left: 10px;
  margin-top: 7px;

  background: none;
  border: none;
  position: relative;

  cursor: pointer;
  outline: none;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   border-left: 7px solid transparent;
  //   border-right: 7px solid transparent;
  // }

  // &:not(.expanded){
  //   &::before {
  //     border-bottom: 7px solid $text-color;
  //   }
  // }

  // &.expanded{
  //   &::before {
  //     border-top: 7px solid $text-color;
  //   }
  // }
}

.blocks-wrapper{
  margin: 4px 0;
  font-weight: 700;

  background: rgb(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 8px;

  .block-id {
    display: flex;
    justify-content: start;
    color: $primary-color;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .block-text {

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $dark-color;
  }
}
